<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405448016033-n1b3vi6ebmpg82fp5bhovfs5eebhupfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405448016033-n1b3vi6ebmpg82fp5bhovfs5eebhupfb</string>
	<key>API_KEY</key>
	<string>AIzaSyD8MTjZiXQJzEEK9pa7mKUBahaFqgo204k</string>
	<key>GCM_SENDER_ID</key>
	<string>405448016033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ottos.TaskList</string>
	<key>PROJECT_ID</key>
	<string>tasklistself</string>
	<key>STORAGE_BUCKET</key>
	<string>tasklistself.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405448016033:ios:5629287d55b23e9d73b0e0</string>
</dict>
</plist>